<!DOCTYPE html>
<html>
<head>
  <title>Lode</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<style>
  a {
    width: 200px;
    height: 40px;
  }
  .button {
    width: 200px;
    height: 40px;
    background-color: red;
    color: white;
    font-size: bold;
    border: 2px solid red;
  }
  td {
    min-width: 50px;
  }
</style>
</body>
</html>
